.tw-follow-card {
  background: #202020;
  /* border: solid 1px red; */
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
}

.tw-follow-card-header {
  /* border: solid 1px green; */
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-follow-card-image {
  /* border: solid 1px rgb(248, 226, 29); */
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.tw-follow-card-info {
  /* border: solid 1px rgb(248, 176, 8); */
  display: flex;
  flex-direction: column;
}

/* .tw-follow-card-info-name { */
/* border: solid 1px rgb(85, 255, 85); */
/* } */

.tw-follow-card-info-userName {
  /* border: solid 1px rgb(35, 207, 216); */
  opacity: 0.5;
}

.tw-follow-card-button {
  /* border: solid 1px rgb(225, 58, 208); */
  padding: 6px 16px;
  border-radius: 16px;
}
